@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#272727;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

fieldset{
  padding: 40px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-color: rgb(70, 9, 214);
  background-color: #272727;
  border-width:4px;
  box-shadow: 5px 5px 10px rgb(4, 4, 5);
  
  
}



legend{
  text-align: center;
  color: #ffff;
  padding: 6px;
  border:1px solid black;
  background-color: rgb(70, 9, 214);
  border-radius: 5px;
}

input{
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  
}

.input-box{
  position: relative;
}

.Input-user{
  outline: none;
  border-width: 1px;
  border-top:none;
  border-left: none;
  border-right: none;
  width: 90%;
  
}


.masculino{
  width: 0.6rem;
  height: 0.6rem;
}

.feminino{
  width: 0.6rem;
  height: 0.6rem;

}

.outro{
  width: 0.6rem;
  height: 0.6rem;
}


.data{
  border-radius: 8px;
  padding: 0.2rem;
  width: 64.5%;
  border: none;
  height: 24px;
  outline: none;
  background-color: #ffff;
  color: black;
  
}


button{
  position: relative;
  top: 25px;
  border-radius: 5px;
  padding: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: blue;
  color: #fff;
  
}

button:hover{
  background-color: rgb(153, 153, 252);
  cursor: pointer;

}

@media screen and (min-width:580px) {
  


  .container-principal{
    width: 360px;


  }

}
  
